@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Neue Helvetica', Arial, sans-serif;
    font-size: 1em;
    color: #000;
    padding: 0 0 96px 0;
}

.titulo-principal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.principal {
    background-color: #ccc;
    padding: 30px;
}

.titulos {
    margin: 16px;
    text-align: center;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 16px;
    text-align: justify;
}

.missao {
    font-size: 1.25em;
}

em strong {
    color: #ff0000;
}

.beneficios {
    background-color: #fff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 8px;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.image-beneficios {
    width: 50%;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a3632;
    padding: 0.5em;
}

.foot p {
    text-align: center;
    color: #c74634;
}

.foot a {
    color: #f5f5f5;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
