@charset "UTF-8";

body {
    font-family: 'Neue Helvetica', Arial, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 96px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.titulo-principal {
    padding-left: 16px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

#banner {
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal {
    background-color: #cccccc;
    padding: 24px;
}

.titulos {
    font-size: 24px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 16px;
    text-align: justify;
}

.missao {
    font-size: 24px;
    font-weight: bold;
}

em strong {
    color: #ff0000;
}

.beneficios {
    background-color: #fff;
    padding: 16px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 16px;
    margin-right: 15%;
}

.itens {
    font-style: italic;
    margin-bottom: 16px;
}

.image-beneficios {
    width: 50%;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a3632;
    padding: 8px;
}

.foot p {
    text-align: center;
    color: #c74634;
}

.foot a {
    color: #f5f5f5;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
