@charset "UTF-8";

body {
    font-family: 'Neue Helvetica', Arial, sans-serif;
    color: #000000;
    padding: 0 0 96px 0;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0px;
}

.menu-box {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 8px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 1.375em;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    display: block;
    margin: 0 auto;
    padding: 16px;
    width: 50%;
}

main {
    max-width: 1136px;
    margin: 0 auto;
}

.principal {
    padding: 24px;
}

.titulos {
    font-size: 24px;
    font-weight: bold;
    margin: 16px;
    text-align: center;
}

.titulos a {
    color: #0000ff;
    text-decoration: none;
}

.titulos a:hover {
    text-decoration: underline;
}

p {
    margin: 16px;
    text-align: justify;
}

.missao {
    font-size: 24px;
    font-weight: bold;
}

em strong {
    color: #ff0000;
}

.beneficios {
    background-color: #fff;
    padding: 16px;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 16px;
    margin-right: 15%;
}

.itens {
    font-style: italic;
    margin-bottom: 16px;
}

.image-beneficios {
    width: 50%;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a3632;
    padding: 8px;
}

.foot p {
    text-align: center;
    color: #c74634;
}

.foot a {
    color: #f5f5f5;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}
