.sobre {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sobre__conteudo {
    background-color: var(--cinza-claro);
}

.sobre__titulo {
    color: var(--cinza-escuro);
    font-family: var(--fonte-monte);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    text-align: center;
}

.sobre__texto {
    line-height: normal;
    margin-bottom: 1rem;
}

.sobre__texto--destaque {
    color: var(--cinza-escuro);
    font-weight: 700;
}

.sobre__texto--divisao {
    background-color: var(--cinza-medio);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sobre__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.sobre__imagem {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 350px;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .sobre {
        display: flex;
    }

    .sobre__conteudo {
        margin-right: 3rem;
    }

    .sobre__titulo {
        text-align: left;
    }

    .sobre__texto--divisao {
        border-bottom: 1px solid var(--cinza-medio);

        padding-bottom: 1.5rem;
    }

    .sobre__imagem {
        display: block;
    }
}
