.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__link {
    text-decoration: none;
    color: #808080;
    text-transform: lowercase;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__item:first-child .menu__link {
    color: #333333;
    font-weight: bold;
}

.menu__item:last-child .menu__link {
    margin-right: 0;
}

@media screen and (min-width: 0) {
    .menu__link {
        margin-right: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .menu__link {
        margin-right: 1.75rem;
    }
}