.receitas {
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.receita__div {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.receita__imagem {
    height: 200px;
}

.receita__conteudo {
    padding: 1rem;
}

.receita__titulo {
    font-size: 1.4375rem;
}

.receita__descricao {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
}

.receita__botao {
    background: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all 1s ease-in-out;
}

.receita__botao:hover {
    background: #620404;
    cursor: pointer;
}

@media screen and (min-width: 0) {
    .receitas {
        padding: 2.5rem 1rem;
        /* padding: 5rem 0 0 5rem; */
    }

    .receita__div {
        margin-right: 1rem;
        margin-left: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .receitas {
        padding: 2.5rem 1.25rem;
        /* padding: 5rem 0 0 5rem; */
    }

    .receita__div {
        margin-right: 1.25rem;
        margin-left: 1.25rem;
        width: 33.33%;
    }
}

@media screen and (min-width: 992px) {
    .receitas {
        padding: 2.5rem 2.5rem;
        /* padding: 5rem 0 0 5rem; */
    }

    .receita__div {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        width: 25%;
        /* width: calc(25% - 5rem); */
    }
}
