.app {
    background: #f1f1f1;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
        'cabecalho'
        'conteudo'
        'rodape';
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho {
    align-items: center;
    /* background-color: #00ff00; */
    grid-area: cabecalho;
    display: flex;
    padding: 0 2rem;
}

.conteudo {
    /* background-color: #ff0000; */
    grid-area: conteudo;
    padding: 0 2rem;
}

.rodape {
    text-align: center;
    background-color: #fdfdfd;
    color:#333333;
    font-size: 0.8rem;
    grid-area: rodape;
    padding: 1rem 2rem;
}
