.cabecalhoPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.cabecalhoPrincipal-titulo {
    /* display: inline-block; */
    /* vertical-align: middle; */
    background-color: blue;
}

.cabecalhoPrincipal-nav {
    display: flex;
    /* display: inline-block; */
    /* vertical-align: middle; */
    background-color: green;
}

.cabecalhoPrincipal-nav-link {
    background-color: yellow;
}

.cabecalhoPrincipal-nav-link-app {
    background-color: purple;
}

/* -------------------- */

.conteudoPrincipal .container {
    display: flex;
    flex-direction: column;
}

.conteudoPrincipal .subtitulo {
    background-color: blueviolet;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    /* justify-content: flex-start; */
}

.conteudoPrincipal-cursos-link {
    margin: 1%;
    width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
}

/* -------------------- */

.videoSobre .container {
}

.videoSobre-video {
}

.videoSobre-sobre {
}

.videoSobre-sobre-title {
}

.videoSobre-sobre-list {
}

.videoSobre-sobre-item {
}

.videoSobre-button {
}

/* -------------------- */

.rodapePrincipal .container {
}

.rodapePrincipal-navMap {
}

.rodapePrincipal-navMap .subtitulo {
    background-color: yellow;
}

.rodapePrincipal-navMap-list {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 256px;
}

.navmap-list-title .navmap-list-title-backend {
    background-color: red;
}

.navmap-list-title .navmap-list-title-frontend {
    background-color: green;
}

.navmap-list-title .navmap-list-title-framework {
    background-color: blue;
}

.navmap-list-title .navmap-list-title-bancoDeDados {
    background-color: yellow;
}

.rodapePrincipal-navMap-link {
    background-color: purple;
}

/* -------------------- */

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    width: 70%;
    background-color: green;
}

.rodapePrincipal-patrocinadores-list-link {
}

.patrocinadores-list-link-alura {
    background-color: pink;
}

.patrocinadores-list-link-caelum {
    background-color: pink;
}

.patrocinadores-list-link-casaDoCodigo {
    background-color: pink;
}

.rodapePrincipal-contatoForm {
    width: 25%;
    background-color: purple;
}

.rodapePrincipal-contatoForm-legend {
    background-color: darkgoldenrod;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    background-color: aqua;
}

.rodapePrincipal-contatoForm-emailInput {
    background-color: lightcoral;
}

.rodapePrincipal-contatoForm-submit {
    background-color: lime;
}
