@charset "UTF-8";

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    padding: 0 0 48px 0;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0px;
}

.menu-box {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 16px 8px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 1.375em;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.banner-image {
    display: block;
    margin: 0 auto;
    max-width: 70%;
}

/* main {
    max-width: 940px;
    margin: 0 auto;
} */

.section-principal {
    padding: 2em 0;
    background: #fefefe;
    max-width: 940px;
    margin: 0 auto;
}

.section-principal-titulo {
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
}

.util-image {
    float: left;
    width: 75px;
    margin: 0 20px 20px 0;
}

.section-principal-titulo a {
    color: #0000ff;
    text-decoration: none;
}

.section-principal-titulo a:hover {
    text-decoration: underline;
}

.section-principal-titulo::first-letter {
    font-weight: bold;
}


.section-principal p {
    margin: 0 0 1em;
    text-align: justify;
}

.missao {
    font-size: 1em;
}

.missao em {
    font-style: italic;
}

.missao strong {
    font-weight: bold;
}

.section-mapa {
    padding: 2em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
    max-width: 940px;
    margin: 0 auto;
}
.section-mapa-titulo {
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

.section-mapa-titulo::first-letter {
    font-weight: bold;
}

.section-mapa-texto {
    margin: 0 0 2em;
    text-align: center;
}

.section-beneficios {
    padding: 2em 0;
    background: #888888;
}

.section-beneficios-titulo {
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-benficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.section-beneficios-itens {
    line-height: 1.5em;
}

.section-beneficios-itens::before {
    content: "* ";
}

.section-beneficios-itens:nth-child(1) {
    font-weight: bold;
}

.section-beneficios-image {
    width: 50%;
    opacity: 0.3;
    transition: 800ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.section-beneficios-image:hover {
    opacity: 1;
}

.video {
    max-width: 460px;
    margin: 2em auto;;
}

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a3632;
    padding: 8px;
}

.foot p {
    text-align: center;
    color: #c74634;
}

.foot a {
    color: #f5f5f5;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}

@media (max-width: 380px) {
    nav li {
        display: block;
    }
    .menu-box, .conteudo-beneficios, .video {
        width: auto;
    }
    .lista-benficios {
        width: 100%;
    }
    .section-beneficios-image {
        width: 100%;
    }
}
